# This file has changes for processing on desdm firstcut data.
# Use this file with the wl.config file  
#
# e.g.
# measureshear $(INSTALL_DIR)/etc/wl.config +$(INSTALL_DIR)/etc/wl_firstcut.config
#
# This will read the base wl.config file first, and then read this file.
# Anything set in this file would then supersede the values set by the 
# first configuration file.


# Abort the process when write errors are encountered rather than 
# merely indicate that the output is probably unusable.
write_error_status = 5

# Change the number of threads the code tries to use.  (Default is all CPUs.)
#omp_num_threads = 1

# Set the column names in the fits binary table
cat_id_col = NUMBER
cat_x_col = XWIN_IMAGE
cat_y_col = YWIN_IMAGE
cat_sky_col = BACKGROUND
cat_flag_col = FLAGS
cat_ra_col = ALPHAWIN_J2000
cat_dec_col = DELTAWIN_J2000
cat_mag_col = MAG_AUTO
cat_mag_err_col = MAGERR_AUTO
cat_size_col = FLUX_RADIUS
cat_sg_col = CLASS_STAR


# Update some relevant parameters for the star-galaxy separtion.
stars_minsg =           0.9    # The in star-galaxy to consider
stars_maxsg =           1      # The max star-galaxy to consider in output
stars_minsgfrac =	0.05   # The min frac of initial stars to use sg cut
stars_minsgmag =        10     # The min mag for initial selection
stars_maxsgmag =        15     # The max mag for initial selection
stars_minmag =		10     # The min magnitude to consider
stars_maxmag =		18     # The max magnitude to consider
stars_maxoutmag =	17     # The max magnitude to include in output

stars_startn1 =		0.20	# How many objects to start with per subdivision
